*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    min-height: 100vh;
}
.wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header{
    height: 100px;
    background-color: brown;
}
.main{
    flex-grow: 1;
}
.footer{
    height: 100px;
    background-color:crimson
}