*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    min-height: 100vh;
}
.wrapper{
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.container{
    max-width: 1140px;
}
.header{
  height: 100vh;
  background: url(BG.jpg) center / cover no-repeat;
}
h1{
   
    
    font-size: 88px;
   
    
    color: #ffffff;
}




.main{
    flex-grow: 1;
}
.footer{
    height: 100px;
    background-color:crimson
}